<div class="text-center px-2">
  Digitally signed via Wippli&reg; Sign.
  Powered by <a href="https://github.com/Wippli-Org/wippli-docuseal" class="underline">DocuSeal</a> under AGPL-3.0 licence.
</div>
